---
layout: default
---

<div class="home">
        <div>+76665554431</div>
      <div>76665554432</div>
      <div>+7 (666) 555-44-34</div>
      <div>7 (666) 555-44-35</div>
      <div>7(666)555-44-36</div>
      <div>+7(666)555-44-37</div>
      <div>+7 666 555-44-38</div>
      <div>//+7(666)5554439</div>
      <div>+7 (666) 555 44 40</div>
      <div>7-666-555-44-55</div>
  
  <button onclick='FB.AppEvents.logEvent("buttonClicked")'>
    Click me
  </button>

  <script>
    function fillInput() {
      var myInput = document.getElementById('first-name');
      myInput.value += "123123123123";
    }
    
    function fillInner() {
      var b = document.querySelector(`.wrapper`)
      
            b.innerHTML = `<div class="wrapper">
        <div>
          <h2>Номера телефонов</h2>
          <div>
            <h3>Форматы</h3>
            <div>+76665554433</div>
            <div>76665554433</div>
            <div>+7 (666) 555-44-33</div>
            <div>7 (666) 555-44-33</div>
            <div>7(666)555-44-33</div>
            <div>+7(666)555-44-33</div>
            <div>+7 666 555-44-33</div>
            <div>//+7(666)5554433</div>
            <div>+7 (666) 555 44 33</div>
            <div>7-666-555-44-33</div>
            <div>7 666 555 44 33</div>
            <div>//76665554433</div>
            <div>+7(666)5554433</div>
            <div>7&nbsp;666&nbsp;555&nbsp;44&nbsp;33</div>
            <div>7-666-555-44-33 добавочный 12345</div>
            <p>Такое парсим <span>+7 (666) 555-44-3322222</span></p>

            <p>С 8</p>
            <div>86665554433</div>
            <div>+86665554433</div>
            <div>+8 (666) 555-44-33</div>
            <div>8 (666) 555-44-33</div>
            <div>8(666)555-44-33</div>
            <div>+8(666)555-44-33</div>
            <div>+8 666 555-44-33</div>
            <div>//+8(666)5554433</div>
            <div>+8 (666) 555 44 33</div>
            <div>8-666-555-44-33</div>
            <div>8 666 555 44 33</div>
            <div>//86665554433</div>
            <div>+8(666)5554433</div>
            <div>8&nbsp;666&nbsp;555&nbsp;44&nbsp;33</div>
            <div>8-666-555-44-33 добавочный 12345</div>
            <p>И такое парсим <span>8 (666) 555-44-3322222</span></p>
          </div>
              <div>
            <h3>Ссылки</h3>
            <a href="tel:+76665554433">+76665554433</a>
            <a href="tel:76665554433">76665554433</a>
            <a href="tel:+7(666)555-44-33">+7 (666) 555-44-33</a>
            <a href="tel:7(666)555-44-33">7 (666) 555-44-33</a>
            <a href="tel:7(666)555-44-33">7(666)555-44-33</a>
            <a href="tel:+7(666)555-44-33">+7(666)555-44-33</a>
            <a href="tel:+7666555-44-33">+7 666 555-44-33</a>
            <a href="tel://+7(666)5554433">//+7(666)5554433</a>
            <a href="tel:+7(666)5554433">+7 (666) 555 44 33</a>
            <a href="tel:7-666-555-44-33">7-666-555-44-33</a>
            <a href="tel:7 666 555 44 33">7 666 555 44 33</a>
            <a href="tel://76665554433">//76665554433</a>
            <a href="tel:+7(666)5554433">+7(666)5554433</a>
          </div>
              <div>
            <h3>Текст</h3>
            <div>
              +76665554433
              76665554433
              +7 (666) 555-44-33
              7 (666) 555-44-33
              7(666)555-44-33
              +7(666)555-44-33
              +7 666 555-44-33
              //+7(666)5554433
              +7 (666) 555 44 33
              7-666-555-44-33
              7 666 555 44 33
              //76665554433
              +7(666)5554433
            </div>
          </div>
        </div>
          <div>
            <h3>Bad</h3>
            <p>Не парсим телефоны с версткой <span>+7 <span>(666)</span> <span>555-44-33</span></span></p>
            <p>Не парсим телефоны с буквами (?) <span>+7 (666) 555-YAND</span></p>
            <p>Не парсим длинные телефоны <span>+7 (666) 555-44-3322222</span></p>
            <p>Не парсим короткие телефоны <span>+7 (666) 555-44</span></p>
          </div>
        <div>
      </div>`
    }
    
    function fillAppend() {
      var b = document.querySelector(`.wrapper`)

                  function create(htmlStr) {
                      var frag = document.createDocumentFragment(),
                          temp = document.createElement('div');
                      temp.innerHTML = htmlStr;
                      while (temp.firstChild) {
                          frag.appendChild(temp.firstChild);
                      }
                      return frag;
                  }


                  var a = create(`<div class="wrapper">
                    <div>
                      <h2>Номера телефонов</h2>
                      <div>
                        <h3>Форматы</h3>
                        <div>+76665554433</div>
                        <div>76665554433</div>
                        <div>+7 (666) 555-44-33</div>
                        <div>7 (666) 555-44-33</div>
                        <div>7(666)555-44-33</div>
                        <div>+7(666)555-44-33</div>
                        <div>+7 666 555-44-33</div>
                        <div>//+7(666)5554433</div>
                        <div>+7 (666) 555 44 33</div>
                        <div>7-666-555-44-33</div>
                        <div>7 666 555 44 33</div>
                        <div>//76665554433</div>
                        <div>+7(666)5554433</div>
                        <div>7&nbsp;666&nbsp;555&nbsp;44&nbsp;33</div>
                        <div>7-666-555-44-33 добавочный 12345</div>
                        <p>Такое парсим <span>+7 (666) 555-44-3322222</span></p>

                        <p>С 8</p>
                        <div>86665554433</div>
                        <div>+86665554433</div>
                        <div>+8 (666) 555-44-33</div>
                        <div>8 (666) 555-44-33</div>
                        <div>8(666)555-44-33</div>
                        <div>+8(666)555-44-33</div>
                        <div>+8 666 555-44-33</div>
                        <div>//+8(666)5554433</div>
                        <div>+8 (666) 555 44 33</div>
                        <div>8-666-555-44-33</div>
                        <div>8 666 555 44 33</div>
                        <div>//86665554433</div>
                        <div>+8(666)5554433</div>
                        <div>8&nbsp;666&nbsp;555&nbsp;44&nbsp;33</div>
                        <div>8-666-555-44-33 добавочный 12345</div>
                        <p>И такое парсим <span>8 (666) 555-44-3322222</span></p>
                      </div>
                          <div>
                        <h3>Ссылки</h3>
                        <a href="tel:+76665554433">+76665554433</a>
                        <a href="tel:76665554433">76665554433</a>
                        <a href="tel:+7(666)555-44-33">+7 (666) 555-44-33</a>
                        <a href="tel:7(666)555-44-33">7 (666) 555-44-33</a>
                        <a href="tel:7(666)555-44-33">7(666)555-44-33</a>
                        <a href="tel:+7(666)555-44-33">+7(666)555-44-33</a>
                        <a href="tel:+7666555-44-33">+7 666 555-44-33</a>
                        <a href="tel://+7(666)5554433">//+7(666)5554433</a>
                        <a href="tel:+7(666)5554433">+7 (666) 555 44 33</a>
                        <a href="tel:7-666-555-44-33">7-666-555-44-33</a>
                        <a href="tel:7 666 555 44 33">7 666 555 44 33</a>
                        <a href="tel://76665554433">//76665554433</a>
                        <a href="tel:+7(666)5554433">+7(666)5554433</a>
                      </div>
                          <div>
                        <h3>Текст</h3>
                        <div>
                          +76665554433
                          76665554433
                          +7 (666) 555-44-33
                          7 (666) 555-44-33
                          7(666)555-44-33
                          +7(666)555-44-33
                          +7 666 555-44-33
                          //+7(666)5554433
                          +7 (666) 555 44 33
                          7-666-555-44-33
                          7 666 555 44 33
                          //76665554433
                          +7(666)5554433
                        </div>
                      </div>
                    </div>
                      <div>
                        <h3>Bad</h3>
                        <p>Не парсим телефоны с версткой <span>+7 <span>(666)</span> <span>555-44-33</span></span></p>
                        <p>Не парсим телефоны с буквами (?) <span>+7 (666) 555-YAND</span></p>
                        <p>Не парсим длинные телефоны <span>+7 (666) 555-44-3322222</span></p>
                        <p>Не парсим короткие телефоны <span>+7 (666) 555-44</span></p>
                      </div>
                    <div>
                  </div>`)


                  b.appendChild(a)
    }
  </script>

  <h1 class="page-heading">Posts</h1>
  <button type="button" value="Номера innerHTLM" onclick="fillInner()">Номера innerHTLM</button>
  <button type="button" value="Номера appendChild" onclick="fillAppend()">Номера appendChild</button>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <ul class="post-list ym-hide-content">
    {% for post in site.posts %}
    <li>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

      <p class="ym-show-content">Показываем этот блок</p>

      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
    </li>
    {% endfor %}
  </ul>

  <ul class="post-list">

    <h1>Скрытая форма</h1>
    <div class="form-wrap register ym-hide-content">
      <div class="profile"><img src="https://html5book.ru/wp-content/uploads/2016/10/profile-image.png">
        <h1>Регистрация</h1>
      </div>
      <form method="post" action="#">
        <div>
          <label for="name3">Имя</label>
          <input type="text" name="name" id="name3" class="first-name" required>
        </div>
        <div class="radio">
          <span>Пол</span>
          <label>
            <input type="radio" name="sex" value="мужской">мужской
            <div class="radio-control male"></div>
          </label>
          <label>
            <input type="radio" name="sex" value="женский">женский
            <div class="radio-control female"></div>
          </label>
        </div>
        <div>
          <label for="email3">E-mail</label>
          <input type="email" name="email" id="email3" required>
        </div>
        <div>
          <label for="country3">Страна</label>
          <select name="country" id="country3">
            <option>Выберите страну проживания</option>
            <option value="Россия">Россия</option>
            <option value="Украина">Украина</option>
            <option value="Беларусь">Беларусь</option>
          </select>
          <div class="select-arrow"></div>
        </div>
        <div>
          <fieldset>
            <legend>Display</legend>
            <p><label><input type=radio name=c value=0 checked> Black on White</label>
            <p><label><input type=radio name=c value=1> White on Black</label>
            <p><label><input type=checkbox name=g> Use grayscale</label>
            <p><label>Enhance contrast <input type=range name=e list=contrast min=0 max=100 value=0 step=1></label>
              <datalist id=contrast>
                <option label=Normal value=0>
                <option label=Maximum value=100>
              </datalist>
          </fieldset>
        </div>

        <button type="button" value="Нажми меня" onclick="fillInput()" />
      </form>
    </div>

    <div class="ym-hide-content">
      <h2 class="ym-show-content">Еще одна скрытая форма</h2>
      <form onsubmit="return false" oninput="o.value = a.valueAsNumber + b.valueAsNumber">
        <input name=a type=number step=any> +
        <input name=b type=number step=any> =
        <output name=o for="a b"></output>
      </form>
    </div>

    <div class="ym-hide-content">
      <h2 class="ym-show-content">figure</h2>
      <figure>
        <object data="iframe.html"></object>
        <figcaption>My HTML Clock</figcaption>
      </figure>
      
      <iframe src="iframe.html" width="650" height="720" align="left" onload="console.log(1)">
        Ваш браузер не поддерживает фреймы!
      </iframe>
    </div>

    <div class="ym-hide-content">
      <h2 class="ym-show-content">meter</h2>
      <p>The grapefruit pie had a radius of 12cm and a height of
        2cm.</p>
      <dl>
        <dt>Radius: <dd> <meter min=0 max=20 value=12>12cm</meter>
        <dt>Height: <dd> <meter min=0 max=10 value=2>2cm</meter>
      </dl>
    </div>

    <div class="ym-hide-content">
      <h2 class="ym-show-content">section</h2>
      <section>
        <h2>Task Progress</h2>
        <p>Progress: <progress id="p" max=100><span>0</span>%</progress></p>
        <script>
            var progressBar = document.getElementById('p');
            function updateProgress(newValue) {
                progressBar.value = newValue;
                progressBar.getElementsByTagName('span')[0].textContent = newValue;
            }
        </script>
      </section>
    </div>

    <div class="ym-hide-content">
      <h2 class="ym-show-content">label</h2>
      <form>
        <table>
          <caption>Example, label's for attribute</caption>
          <tr>
            <th><label for="name4">Customer name: </label></th>
            <td><input name="name" id="name4"></td>
          </tr>
        </table>
      </form>
    </div>

    {% for post in site.posts %}
    <li>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
    </li>
    {% endfor %}
  </ul>

  <br>

  <iframe src="/jekyll/update/2016/08/09/welcome-to-jekyll.html" width="650" height="360" align="left" onload="console.log(1)">
    Ваш браузер не поддерживает фреймы!
  </iframe>


  <input id="detail" value="Отправка 'Просмотр товара'" type="button" class="btn">
  <input id="add" value="Отправка 'Добавление в корзину'" type="button" class="btn">
  <input id="remove" value="Отправка 'Удаления из корзины'" type="button" class="btn">
  <input id="purchase" value="Отправка 'Покупка'" type="button" class="btn">
</div>

<iframe src="https://metrica.yandex.com/about" width="650" height="360" align="right">
  Ваш браузер не поддерживает фреймы!
</iframe>
<script>
    document.getElementById("detail").onclick = function () {
        yaCounter42080444.ecommerceDetail({
            id: '0005',
            goods: [
                {id: 'ug_0005', name: 'box of something (detail)', SKU: 'AB123', category: 'some category/some sub category', price: 1.5},
                {id: 'ug_0006', name: 'box of something other (detail)', SKU: 'AB124', category: 'some category/some sub category', price: 2.5}
            ]
        });
    };

    document.getElementById("add").onclick = function () {
        yaCounter42080444.ecommerceAdd({
            id: '1002',
            currency: 'RUR',
            exchange_rate: 2,
            goods: [
                {id: 'ug_0010', name: 'box of something (add)', SKU: 'AB123', category: 'some category/some sub category', price: 1.5, brand: "The Box", variant: "gray", quantity: 2},
                {id: 'ug_0011', name: 'box of something other (add)', SKU: 'AB124', category: 'some category/some sub category', price: 2.5, brand: "The Box", variant: "gray", quantity: 3}
            ]
        });
    };

    document.getElementById("remove").onclick = function () {
        yaCounter42080444.ecommerceRemove({
            id: '2002',
            currency: 'RUR',
            exchange_rate: 2,
            goods: [
                {id: 'ug_0021', name: 'box of something (remove)', SKU: 'AB123', category: 'some category/some sub category', price: 1.5, brand: "The Box", variant: "gray"},
                {id: 'ug_0022', name: 'box of something other (remove)', SKU: 'AB124', category: 'some category/some sub category', price: 2.5, brand: "The Box", variant: "gray"}
            ]
        });
    };

    document.getElementById("purchase").onclick = function () {
        yaCounter42080444ф.ecommercePurchase({
            id: '3002',
            affiliation: 'Supplier 1',
            revenue: 7,
            shipping: 7,
            tax: 3,
            currency: 'CAD',
            goods: [
                {id: 'ug_0026', name: 'box of something (purchase)', SKU: 'AB123', category: 'some category/some sub category', price: 1.5, brand: "The Box", variant: "gray", quantity: 2},
                {id: 'ug_0027', name: 'box of something other (purchase)', SKU: 'AB124', category: 'some category/some sub category', price: 2.5, brand: "The Box", variant: "gray", quantity: 3, coupon: 'GOODS_COUPON'}
            ]
        });
    };
</script>

</div>



<form method="post" action="/" id="textarea">
  <div>
    <label for="interesting-text">Имя</label>
    <textarea name="interesting-text" id="interesting-text" cols="10">

    </textarea>
  </div>
  <button type="submit">Отправить</button>
</form>



<div class="home">
  <h1>Первая форма</h1>
  <div class="form-wrap register">
    <div class="profile"><img src="https://html5book.ru/wp-content/uploads/2016/10/profile-image.png">
      <h1>Регистрация</h1>
    </div>
    <form method="post" action="#" name="test_form" id="first_test_form">
      <div>
        <label for="name">Имя</label>
        <input type="text" name="name" id="name" class="first-name" required>
      </div>
      <div class="radio">
        <span>Пол</span>
        <label>
          <input type="radio" name="sex" value="мужской">мужской
          <div class="radio-control male"></div>
        </label>
        <label>
          <input type="radio" name="sex" value="женский">женский
          <div class="radio-control female"></div>
        </label>
      </div>
      <div>
        <label for="email">E-mail</label>
        <input type="text" name="email" id="email" required>
      </div>
      <div>
        <label for="country">Страна</label>
        <select name="country" id="country">
          <option>Выберите страну проживания</option>
          <option value="Россия">Россия</option>
          <option value="Украина">Украина</option>
          <option value="Беларусь">Беларусь</option>
        </select>
        <div class="select-arrow"></div>
      </div>
      <button type="submit">Отправить</button>
    </form>
  </div>

  <h1>Вторая форма</h1>
  <div class="form-wrap register">
    <div class="profile"><img src="https://html5book.ru/wp-content/uploads/2016/10/profile-image.png">
      <h1>програмно изменяемый инпут</h1>
    </div>
    <form method="post" action="#">
      <div>
        <label for="first-name">Имя (програмно изменяемый инпут)</label>
        <input type="text" name="first-name" id="first-name" class="ym-record-keys" value required>
      </div>
      <div>
        <label for="card-number">Номер карты</label>
        <input type="text" name="card-number" id="card-number" required>
      </div>
      <div>
        <label for="password">Пароль</label>
        <input type="text" name="name" id="password" required>
      </div>
      <div class="radio">
        <span>Пол</span>
        <label>
          <input type="radio" name="sex" value="мужской">мужской
          <div class="radio-control male"></div>
        </label>
        <label>
          <input type="radio" name="sex" value="женский">женский
          <div class="radio-control female"></div>
        </label>
      </div>
      <div>
        <label for="user-email">E-mail</label>
        <input type="email" name="email" id="user-email" class="ym-record-keys" required>
      </div>
      <div>
        <label for="user-country">Страна</label>
        <select name="country" id="user-country">
          <option>Выберите страну проживания</option>
          <option value="Россия">Россия</option>
          <option value="Украина">Украина</option>
          <option value="Беларусь">Беларусь</option>
        </select>
        <div class="select-arrow"></div>
      </div>
      <button type="submit">Отправить</button>
      <button type="button" value="Нажми меня" onclick="fillInput()">Нажми меня</button>
    </form>
  </div>
  
  
<h2>Password</h2>
<div class="wrapper">
    <input type="text" name="some_field"  password="true">
</div>
  
<div class="wrapper">
  <div>
    <h2>Номера телефонов</h2>
    <div>
      <h3>Форматы</h3>
      <div>+76665554433</div>
      <div>76665554433</div>
      <div>+7 (666) 555-44-33</div>
      <div>7 (666) 555-44-33</div>
      <div>7(666)555-44-33</div>
      <div>+7(666)555-44-33</div>
      <div>+7 666 555-44-33</div>
      <div>//+7(666)5554433</div>
      <div>+7 (666) 555 44 33</div>
      <div>7-666-555-44-33</div>
      <div>7 666 555 44 33</div>
      <div>//76665554433</div>
      <div>+7(666)5554433</div>
      <div>7&nbsp;666&nbsp;555&nbsp;44&nbsp;33</div>
      <div>7-666-555-44-33 добавочный 12345</div>
      <p>Такое парсим <span>+7 (666) 555-44-3322222</span></p>
      
      <div>+76665554431</div>
      <div>76665554432</div>
      <div>+7 (666) 555-44-34</div>
      <div>7 (666) 555-44-35</div>
      <div>7(666)555-44-36</div>
      <div>+7(666)555-44-37</div>
      <div>+7 666 555-44-38</div>
      <div>//+7(666)5554439</div>
      <div>+7 (666) 555 44 40</div>
      <div>7-666-555-44-55</div>
      
      <a href="tel:+76665554431">+76665554431</a>
      <a href="tel:76665554432">76665554432</a>
      <a href="tel:+7 (666) 555-44-34">+7 (666) 555-44-34</a>
      <a href="tel:+7(666)555-44-37">+7(666)555-44-37</a>
      <a href="tel:+7 (666) 555 44 40">+7 (666) 555 44 40</a>
      <a href="tel:7-666-555-44-55">7-666-555-44-55</a>
     
      <p>С 8</p>
      <div>86665554433</div>
      <div>+86665554433</div>
      <div>+8 (666) 555-44-33</div>
      <div>8 (666) 555-44-33</div>
      <div>8(666)555-44-33</div>
      <div>+8(666)555-44-33</div>
      <div>+8 666 555-44-33</div>
      <div>//+8(666)5554433</div>
      <div>+8 (666) 555 44 33</div>
      <div>8-666-555-44-33</div>
      <div>8 666 555 44 33</div>
      <div>//86665554433</div>
      <div>+8(666)5554433</div>
      <div>8&nbsp;666&nbsp;555&nbsp;44&nbsp;33</div>
      <div>8-666-555-44-33 добавочный 12345</div>
      <p>И такое парсим <span>8 (666) 555-44-3322222</span></p>
    </div>
        <div>
      <h3>Ссылки</h3>
      <a href="tel:+76665554433">+76665554433</a>
      <a href="tel:76665554433">76665554433</a>
      <a href="tel:+7(666)555-44-33">+7 (666) 555-44-33</a>
      <a href="tel:7(666)555-44-33">7 (666) 555-44-33</a>
      <a href="tel:7(666)555-44-33">7(666)555-44-33</a>
      <a href="tel:+7(666)555-44-33">+7(666)555-44-33</a>
      <a href="tel:+7666555-44-33">+7 666 555-44-33</a>
      <a href="tel://+7(666)5554433">//+7(666)5554433</a>
      <a href="tel:+7(666)5554433">+7 (666) 555 44 33</a>
      <a href="tel:7-666-555-44-33">7-666-555-44-33</a>
      <a href="tel:7 666 555 44 33">7 666 555 44 33</a>
      <a href="tel://76665554433">//76665554433</a>
      <a href="tel:+7(666)5554433">+7(666)5554433</a>
    </div>
        <div>
      <h3>Текст</h3>
      <div>
        +76665554433
        76665554433
        +7 (666) 555-44-33
        7 (666) 555-44-33
        7(666)555-44-33
        +7(666)555-44-33
        +7 666 555-44-33
        //+7(666)5554433
        +7 (666) 555 44 33
        7-666-555-44-33
        7 666 555 44 33
        //76665554433
        +7(666)5554433
      </div>
    </div>
  </div>
    <div>
      <h3>Bad</h3>
      <p>Не парсим телефоны с версткой <span>+7 <span>(666)</span> <span>555-44-33</span></span></p>
      <p>Не парсим телефоны с буквами (?) <span>+7 (666) 555-YAND</span></p>
      <p>Не парсим длинные телефоны <span>+7 (666) 555-44-3322222</span></p>
      <p>Не парсим короткие телефоны <span>+7 (666) 555-44</span></p>
    </div>
  <div>
</div>
    <div>
        Char point at encoding
        <div id="char-point-at"></div>
    </div>
    <div>
        Char code at encoding
        <div id="char-code-at"></div>
    </div>
    <input id="encoding-input"/>
    <script>
      function fnv32a(val, cahrCodeAt) {
        var str = `${val}`;
        var hval = 0x811c9dc5;
        var len = str.length;
        for (var i = 0; i < len; i += 1) {
            hval ^= cahrCodeAt ? str.charCodeAt(i) : str.codePointAt(i);
            hval +=
                (hval << 1) +
                (hval << 4) +
                (hval << 7) +
                (hval << 8) +
                (hval << 24);
        }
        return hval >>> 0;
      }
      var input = document.querySelector('#encoding-input');
      var charCodeAtResult = document.querySelector('#char-code-at');
      var charPointAtResult = document.querySelector('#char-point-at');

      input.addEventListener('input', function () {
        charCodeAtResult.innerText = '';
        charPointAtResult.innerText = '';
        for (var i = 0; i < input.value.length; i++) {
          charCodeAtResult.innerText += input.value.charCodeAt(i) + ' ';
          charPointAtResult.innerText += input.value.codePointAt(i) + ' ';
        }
        charCodeAtResult.innerText += '(' + fnv32a(input.value, true) + ')';
        charPointAtResult.innerText += '(' + fnv32a(input.value, false) + ')';
      });
    </script>
  </div>
  <a href="https://t.me/cats_cats">Ссылка на телеграмм</a>
  <a href="https://vk.com/habr">Ссылка на вк</a>
  <a href="https://www.instagram.com/e_seredova/">Ссылка на instagram</a>
  <a href="https://metaspector.livejournal.com/">Ссылка на livejournal</a>
  <a href="https://my.mail.ru/community/mir/">Ссылка на Мой мир</a>
  <a href="https://ru.linkedin.com/in/наталья-плетнева-69517ba8">Ссылка на linkedin</a>
  <a href="https://www.youtube.com/watch?v=xyx2xcLaf3I">Ссылка на youtube</a>
  <div class="runtime-styles-block">
        <style id="runtime-styles"></style>
        <div class="playground">
            I am dynamically styled block!
            <button>
                Style me!
            </button>
        </div>
        <script>
            const playground = document.querySelector('.runtime-styles-block .playground');
            const changeStylesButton = playground.querySelector('button');
            const styleSheet = document.querySelector('#runtime-styles').sheet;

            let styleIndex = 0;
            const styles = [
                [
                    ['.runtime-styles-block .playground', 'background-color: red; font-size: 20px; color: green;'],
                    ['.runtime-styles-block .playground button', 'background-color: green; color: red;'],
                ],
                [
                    ['.runtime-styles-block .playground', 'background-color: blue; font-size: 30px; color: white;'],
                    ['.runtime-styles-block .playground button', 'background-color: white; color: blue;'],
                ],
                [
                    ['.runtime-styles-block .playground', 'background-color: purple; font-size: 15px; color: yellow;'],
                    ['.runtime-styles-block .playground button', 'background-color: yellow; color: purple;'],
                ],
            ];
            const setStyles = () => {
                const style = styles[styleIndex];
                styleIndex = (styleIndex + 1) % styles.length;
                for (let i = styleSheet.rules.length - 1; i >= 0; i--) {
                    styleSheet.removeRule(i);
                }
                style.forEach((s) => {
                    const [selector, style] = s;
                    styleSheet.addRule(selector, style);
                });
            };
            setStyles();
            changeStylesButton.addEventListener('click', setStyles);
        </script>
    </div>
<br>
<h3>Скачать тестовые файлы  можно ниже</h3>
<a href="/Поздравление_тестировщику.txt" download="">Скачать файл с рус наименованием</a>
  <br>
  <a href="/Test.txt" download="">Скачать файл с англ наименованием</a>
</div>


